  <div class="panel panel-default">
    <div class="panel-body">
    </div>
    <div class="panel-footer">
      ©2017 Copyright BABYSTYLE. Powered by Sentido Comum®   Apoio ao Cliente   Guia de compra   Termos e Condições
    </div>
  </div>
